<div class="container">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-5">
                    <u><a href="acc.html">Account</a></u>
                </div>
                <div class="row">
                    <button type="button" (click)="login()" class="btn btn-primary btn-block mb-3">Login</button>   
                </div> 
                <div class="row">
                    <button type="button" class="btn btn-primary btn-block mb-3">Register</button>   
                </div>
            </div>
        </aside> 
        <section class="col-sm-9">
            <div class="row justify-content-start mb-3">
                <div class="h2">
                    Login 
                </div>
            </div>
            <div>
                <div class="form-group row ">
                    <label for="usname" class="col-sm-3">User-Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="usname" placeholder="enter User-Name">
                    </div>
                    <div class="col-sm-3">
                        <input type="button" class="form-control form-control-sm btn btn-primary w-50" value="check">
                    </div>
                    <div class="col-sm-3">
    
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Password</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control form-control-sm" id="pwd" placeholder="enter password">
                    </div>
                    <div class="col-sm-6">
    
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">RepeatPassword</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control form-control-sm" id="Rpwd" placeholder="enter password">
                    </div>
                    <div class="col-sm-6">
    
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Email</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control form-control-sm" id="pwd" placeholder="enter password">
                    </div>
                    <div class="col-sm-6">
    
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-3 col-sm-9">
                        <input type="button" class="form-control form-control-sm btn btn-primary w-25" value="Register">
                    </div>
                </div>
            </div> 
        </section>
    </div> 
</div>