<section class="container mt-0">
    <div class="card-columns">
            <div class="card">
                <div class="card-header row h6">
                    <div class=" col-6 d-flex justify-content-start">
                        <i class="fas fa-heart "></i>
                    </div>
                    <div class=" col-6 d-flex justify-content-end">
                        <i style='font-size:24px' class='fas'>&#xf27a;</i>
                    </div>
                </div>
                <div class="card-body"><img src="../../../assets/baby.jpg" class="card-img w-100 h-100" alt="img"></div>
                <div class="card-footer d-flex justify-content-center row h6">
                    <button type="button" class="btn btn-primary"><small>follow/Unfollow</small></button>
                </div>
            </div>
        
            <div class="card">
                <div class="card-header row h6">
                    <div class=" col-6 d-flex justify-content-start">
                        <i class="fas fa-heart "></i>
                    </div>
                    <div class=" col-6 d-flex justify-content-end">
                        <i style='font-size:24px' class='fas'>&#xf27a;</i>
                    </div>
                </div>
                <div class="card-body"><img src="../../../assets/baby.jpg" class="card-img w-100 h-100" alt="img"></div>
                <div class="card-footer d-flex justify-content-center row h6">
                    <button type="button" class="btn btn-primary"><small>follow/Unfollow</small></button>
                </div>
            </div>
            <div class="card">
                <div class="card-header row h6">
                    <div class=" col-6 d-flex justify-content-start">
                        <i class="fas fa-heart "></i>
                    </div>
                    <div class=" col-6 d-flex justify-content-end">
                        <i style='font-size:24px' class='fas'>&#xf27a;</i>
                    </div>
                </div>
                <div class="card-body"><img src="../../../assets/baby.jpg" class="card-img w-100 h-100" alt="img"></div>
                <div class="card-footer d-flex justify-content-center h6">
                    <button type="button" class="btn btn-primary"><small>follow/Unfollow</small></button>
                </div>
            </div>
        </div>
    </section>
