<div class="container">
    <div class="card-columns">
        <div class="card">
            <div class="card-header row h6">
                <div class=" col-6 d-flex justify-content-start">
                    <i class="fas fa-heart "></i>
                </div>
                <div class=" col-6 d-flex justify-content-end">
                    <i style='font-size:24px' class='fas'>&#xf27a;</i>
                </div>
            </div>
            <div class="card-body"><img src="../../../assets/baby.jpg" class="card-img w-100 h-100" alt="img"></div>
                <div class="card-footer h6">for emojis</div>
            </div>
    <div class="card">
        <div class="card-header row h6">
            <div class=" col-6 d-flex justify-content-start">
                <i class="fas fa-heart "></i>
            </div>
            <div class=" col-6 d-flex justify-content-end">
                <i style='font-size:24px' class='fas'>&#xf27a;</i>
            </div>
        </div>
        <div class="card-body"><img src="../../../assets/baby.jpg" class="card-img w-100 h-100" alt="img"></div>
            <div class="card-footer h6">for emojis</div>
        </div>
</div>
