<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link shadow btn btn-outline-warning bg-small " [routerLink]="['/home']">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link shadow btn btn-outline-primary" [routerLink]="['/aboutus']">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link shadow btn btn-outline-secondary" [routerLink]="['/contactus']">CONTACT US</a>
    </li>
    <li *ngIf="!auth.isUserLoggedIn()" class="nav-item">
      <a class="nav-link shadow-lg btn btn-outline-info" [routerLink]="['/login']">LOGIN</a>
    </li>
    <li *ngIf="auth.isUserLoggedIn()" class="nav-item">
      <a class="nav-link shadow-lg btn btn-outline-success" [routerLink]="['/medialist']" >MEDIA</a>
    </li>
    <li *ngIf="auth.isUserLoggedIn()" class="nav-item">
      <a class="nav-link shadow-lg btn btn-outline-danger" [routerLink]="['/logout']">LOGOUT</a>
    </li>
    </ul>
