<div class="row mt-3">
    <div class="col-sm-3">
        <div class="justify-content-start">
            <img src="../../../assets/pixogram.png"  alt="logo">
        </div>
    </div>
    <div class="col-sm-6">
        <nav>
            <ul class="nav  nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/uploadmedia']">Upload-Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/mymedia']" >MyMedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/followers']" >Follower/Followers</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-3" >
        <div class="d-flex justify-content-end">
            <a class="nav-link" [routerLink]="['/account']" >Account</a>
        </div>
    </div>
</div>

