<div class="container mt-5">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-5">
                    <u><a href="">UploadMedia</a></u>
                </div>
                <div class="row">
                    <button type="button"  class="btn btn-primary btn-block mb-3">SingleMedia</button>   
                </div> 
                <div class="row">
                    <button type="button"  class="btn btn-primary btn-block mb-3" [routerLink]="['/multimedia']">MultiMedia</button>   
                </div>
            </div>
        </aside> 
        <div class="col-sm-9">
            <div class="row justify-content-start mb-3">
                <div class="h2">
                    New Media Page
                </div>
            </div>
            <div>
                <div class="form-group row ">
                    <label class="col-sm-3">Browse</label>
                    <div class="col-sm-2">
                       <button type="button" class="btn btn-primary">Browse</button>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Upload</button>
                        </div>  
                     </div>
                    <div class="col-sm-5">

                    </div>
                   </div>
                    <div class="form-group row ">
                        <label for="usname" class="col-sm-3">Title</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" id="usname" placeholder="Title">
                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Discription</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" id="pasword" placeholder="Discription">
                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Tags</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control form-control-sm" id="pasword" placeholder="Tags">
                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Effects</label>
                        <div class="col-sm-4 btn-group btn-sm">
                            <button type="button" class="btn btn-primary px-1 active"><small>Sepia</small></button>
                            <button type="button" class="btn btn-primary px-1"> <small>Grey</small> </button>
                            <button type="button" class="btn btn-primary px-1"> <small>Brightness</small> </button>
                            <button type="button" class="btn btn-primary px-1"> <small>Contrast</small> </button>
                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>
                </div> 
            </div>
         <div>